/*  VARIABLES  */

$color: white;
$rojo: red;
$azul: blue;



body{
    background-image: url(../nuevas/fondoprueba6.jpg);
    background-position: center;
    background-size: cover;
}



.navbar {
    background-color: $color;
    a{
        font-family: 'Cinzel', serif;
    }
}
.col{
    padding-top: 20px;
}

#carouselExampleIndicators{
    padding: 25px;}

#carouselExampleIndicators img{
    height: 700px;
    width: 80%;
    margin: auto;
    @media(max-width:420px){
        height: 250px;
        width: 50%;
    }
}



/* footer */

footer{
    background-color: $color;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    font-size: 1rem;
    font-weight: bolder;
    
    img{
        width: 50px;
    }
    a{
        font-family: 'Josefin Sans', sans-serif;
        color: black;
    }
    @media(max-width:420px){
        
            font-size: .7rem;
          
          img {
            width: 20px; }
    }
    
}


