*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../nuevas2/fondoprueba6.jpg);
    border-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    background-color: white;
}
nav a{
    font-family: 'Cinzel', serif;
}
.contenedor-frasemotivadora{
    width: 100%;
    height: 100%;
    margin: auto;
}
.contenido-imagen{
 display: flex;
 justify-content:space-evenly;
 margin: 0px 0px 5px 0px;
 position: static;
}
/* FORMULARIO */
.formulario{
    width: 400px;
    background-color:blue;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    ;
    margin-bottom: 25px;

}
.formulario>h4{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}
.controls{
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: solid 1px;
    border-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;


}

.formulario>p{
    height: 40px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.formulario>p>a {
    color: white;
    text-decoration: none;
}

.formulario>p>a:hover{
    color: red;
    text-decoration: underline;

}

.formulario>.registro{
    width: 100%;
    border: solid 2px;
    border-radius: 2px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    color: white;
    font-size: 15px;

}
.formulario>.registro:hover{
    text-decoration: underline;
    color: black;
}



/* FOOTER */
footer {
    background-color:white;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    width: 100vw; }
    footer img {
      width: 50px; }
    footer a {
      font-family: 'Josefin Sans', sans-serif;
      color: black }

@media (max-width:768px){

.contenido-imagen img{ 
    width: 500px;
    border-radius: 2px;
}
.formulario{
    width: 300px; 
 }


footer{
    width: auto;
}
}
@media (max-width:420px){
    .contenido-imagen { 
       width: 200px;
       margin-left: 110px;

    }
    .formulario{
        width: 300px;
    }

    .formulario p{
        font-size: 20px;
    }
    
        footer {
          font-size: .7rem; }
          footer img {
            width: 20px; } 
}

