*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
  background-image: url(../nuevas2/fondoaprende.jpg);
}

nav{
  background-color: white;
  font-family: 'Cinzel', serif;
}

main{
  width:auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  background-color: black;
  color: white;
  padding: 5px;
}

.col-md-4 video{
  height: 100%;
}


footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  font-size: 1rem;
  font-weight: bolder; }
  footer img {
    width: 50px; }
  footer a {
    font-family: 'Josefin Sans', sans-serif;
    color: black; }
    @media (max-width: 768px){
      footer{
        width:97.8vw ;
      }
    }
  @media (max-width: 420px) {
    footer {
      font-size: .7rem; }
      footer img {
        width: 20px; } }