*{
    margin: 0;
    padding: 0;
}
/* BODY */

body{
    background-color: red;
    font-family: 'Josefin Sans', sans-serif;
}
body>header{
    background-color: black;
    color: white;
    border: solid 1px;
    border-color:white;
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

body>footer{
    background-color: black;
}

.add{
    transition-duration: 0.4s;
    border: none;
    font-size: 16px;
    text-align: center;
    width: 100px;
    border-radius: 8px;
    padding: 10px 20px;
}
.add:hover {
    background-color: black;
    color: white;

}

.contenedor-productos{
    border: solid 1px;
    border-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}
.imagenes-productos{
    margin: 15px;
    padding: 2px 16px;
}
.imagenes-productos:hover{
    box-shadow: 0 8px 16px 0;
}

.imagenes-productos> img{

width: 300px;
border-radius: 10%;

}




/* FOOTER */

.contenido-footer{
    color: white;
    padding: 60px 0px 30px 0px;
    margin: auto;
    overflow: hidden;

}

.contenido-footer{
    display: flex;  
    width: auto;
    justify-content: space-between; padding: 5px;
    margin: 0 5px;
    padding-bottom: 50px;
    border-bottom: 1px solid red;
}

.contenedor-footer .contenido-footer > h4 {
    font-weight: 700;
    font-size: 20PX;
}
.contenido-footer a{
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
}
