*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(/nuevas/fondotienda2.jpg)
}

header{
    width: 100%;
    background-color: aqua;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Cinzel', serif;
}



header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.cosasvarias{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.cosasvarias img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.proteinas{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.proteinas img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
}


.creatinas{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.creatinas img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

button{
    width: 100px;
    height: 30px;
    background-color: coral;
    color: darkblue;
    cursor: pointer;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    font-size: 1rem;
    font-weight: bolder;
    border: solid 2px black;
 }
    footer img {
      width: 50px; }
    footer a {
      font-family: 'Josefin Sans', sans-serif;
      color: black; }
      
      
      @media (max-width: 768px){
        .cosasvarias img{
          width: 200px;
          height: 250px;
          border-radius: 5px;
      }
      .proteinas img{
        width: 200px;
        height: 250px;
        border-radius: 5px;
    }
    .creatinas img{
      width: 200px;
      height: 250px;
      border-radius: 5px;
  }

        footer{
          width: 100%;
        }
      }

    @media (max-width: 420px) {
      .cosasvarias{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .proteinas{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .creatinas{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .cosasvarias img{
        width: 250px;
    }
    .proteinas img{
      width: 250px;
  }
  .creatinas img{
    width: 250px;
}

      footer {
        width: 100%;
        font-size: .7rem; }
        footer img {
          width: 20px; } 
        
        }